* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  /*==================== Variables Section 
    ====================*/
  /* Font Sizes */

  --p_size: 15px;
  --h3_size: 4.5rem;
}

body{
    background-color:  hsl(212, 45%, 89%);
}

.parent_div {
  background-size: cover;
}

.qr_code_container {
  margin-left: 500px;
  margin-top: 40px;
  height: 33rem;
  width: 22rem;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

.qr_code_details_area{
    padding: 15px;
}

.image_area img {
  max-height: 300px;
  max-width: 320px;
  border-radius: 10px;
}

.scan_qr_guide{
    margin-top: 25px;
}

.scan_qr_guide p{
    margin-top: 25px;
    font-size: var(--p_size);
}

/* ==================Media Queries
================== */

@media only screen and (max-width: 375px){
  .qr_code_container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
}